<!DOCTYPE html>
<html>
   <head>
       <title>HallReg</title>
       <link rel="stylesheet" type=text/css href="style.css"> 
   </head>
   
   <body>
       <!-- <header>UNIVERSITY OF GHANA 
           <div id="header">
           <p><a href="save.html">Save</a></p>
           <p><a href="save.html">Save</a></p>
           </div>
       </header> -->
       <h1>WELCOME TO UNIVERSITY OF GHANA'S HALL REGISTRATION WEBSITE.</h1>
       <!-- <h2>KINDLY ENTER YOUR ID AND PIN IN THE SPACES PROVIDED</h2> -->
    
       <div id="container">
        <form action="save.html">
        
        </form>
       </div>
      






   </body>




</html>