<!DOCTYPE html>
<html>
   <head>
       <title>HallReg</title>
       <link rel="stylesheet" type=text/css href="/style.css"> 
   </head>
   
   <body>
       <!-- <header>UNIVERSITY OF GHANA 
           <div id="header">
           <p><a href="save.html">Save</a></p>
           <p><a href="save.html">Save</a></p>
           </div>
       </header> -->
       <h1>WELCOME TO UNIVERSITY OF GHANA'S HALL REGISTRATION WEBSITE.</h1>
       <h2>KINDLY REGISTER IF YOU'VE NOT YET REGISTERED, OR SIGN IN IF YOU'VE ALREADY REGISTERED</h2>
       
       <div id="container">
                <button type="submit" id="container1"><a href="/register">KINDLY CLICK HERE TO REGISTER</a></button><br>
                <button type="submit" id="container2"><a href="/signin">KINDLY CLICK HERE TO SIGN IN</button>
       </div>
      






   </body>




</html>