<!DOCTYPE html>
<html>
   <head>
       <title>HallReg</title>
       <link rel="stylesheet" type=text/css href="/style.css"> 
   </head>
   
   <body>
       <!-- <header>UNIVERSITY OF GHANA 
           <div id="header">
           <p><a href="save.html">Save</a></p>
           <p><a href="save.html">Save</a></p>
           </div>
       </header> -->
       <h1>WELCOME TO UNIVERSITY OF GHANA'S HALL REGISTRATION WEBSITE.</h1>
       <!-- <h2>KINDLY ENTER YOUR ID AND PIN IN THE SPACES PROVIDED</h2> -->
    
       <div id="container">
        <form action="/save" id="formSave" name="formSave" method="POST">
            <h4>PLEASE SELECT A HALL</h4>
            <select name="hallSelc" required>
                <option>--Select hall--</option>
                <option value="legHall">Legon Hall</option>
                <option value="volHall">Volta Hall</option>
                <option value="akuaHall">Akuaffo Hall</option>
                <option value="msHall">Mensah Sarbah Hall</option>
                <option value="cwHall">Commonwealth Hall</option>
                <option value="jnHall">Jean Nelson Aka Hall</option>
                <option value="hlHall">Hilla Limann Hall</option>
                <option value="esHall">Elizabeth Frances Sey Hall</option>
                <option value="akHall">Alexander Kwapong Hall</option>
            </select><br>

            <h4>PLEASE SELECT A ROOM</h4>
            <select name="roomSel">
                
                    <option>--Select room--</option>
                    <option value="r1">R1</option>
                    <option value=r2>R2</option>
                    <option value="r3">R3</option>
                    <option value="r4">R4</option>
                    <option value="r5">R5</option>
                    <option value="r6">R6</option>
                    <option value="r7">R7</option>
                    <option value="r8">R8</option>
                    <option value="r9">R9</option>
                    <option value="r10">R10</option>
            </select>
            <p><input type="submit" value="submit"></p>
        
        </form>
       </div>
      






   </body>




</html>