<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
            <div id="container">
                    <form action="/signin" name="signIn" id="signIn" method="POST">
                    <p>Student ID:<input type="number" id="studID" name="studID" placeholder="Enter ID"/></p><br>
                    <p>Student Pin:<input type="number" id="studPin" name="studPin" placeholder="Enter pin"/></p><br>
                    <p><input type="submit" value="Submit"></p>
                    </form>
                   </div>

    </body>









</html>